aiofiles==0.7.0
ajsonrpc==1.2.0
anyio==3.3.2
asgiref==3.4.1
bottle==0.12.19
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
cycler==0.10.0
dj-database-url==0.5.0
Django==3.2.7
django-heroku==0.0.0
Flask==2.0.2
greenlet==1.1.2
gunicorn==20.1.0
h11==0.12.0
idna==3.2
ifaddr==0.1.7
itsdangerous==2.0.1
Jinja2==3.0.3
kiwisolver==1.3.2
MarkupSafe==2.0.1
marshmallow==3.13.0
matplotlib==3.4.3
numpy==1.21.2
Pillow==8.3.2
platformio==5.2.0
pyelftools==0.27
pyparsing==2.4.7
pyserial==3.5
python-dateutil==2.8.2
python-decouple==3.5
pytz==2021.1
requests==2.26.0
scipy==1.7.1
semantic-version==2.8.5
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.26
sqlparse==0.4.1
starlette==0.16.0
tabulate==0.8.9
urllib3==1.26.7
uvicorn==0.15.0
Werkzeug==2.0.2
whitenoise==5.3.0
wsproto==1.0.0
zeroconf==0.36.7
